body{
    display: flex;
    background-color:  rgba(255, 192, 203, 0.5);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 97vh;
    gap: 3px;
    font-family: Arial, sans-serif;
}
/*.cadastro-moldura * {
    /*border: 1px solid red;
}*/

#conteudo-moldura{
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
}
.cadastro-moldura {
    background-color: rgb(255, 182, 193); 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    margin: 15px; 
    max-width: 600px; 
    height: 850px;
    width: 100%; 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    
}

#cadastro-logo {
    display: flex;
    flex-direction: row;
    width: 600px;
    justify-content: space-around; 
}

#cadastro-logo #bt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 180px;
    
}

#cadastro-logo img{
    width: 150px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-label {
    color: #333;
    font-size: 65px;
    font-weight: bold; 
    padding-bottom: 40px;
}


.titulo-turma {
    color: #333;
    font-size: 20px;
    font-weight: none;
    margin-right: 345px; 
    margin-bottom: -18px;
}

#turma{
    background-color: rgb(253, 220, 226);
    border-radius: 5px;
    border: none;
    outline: none;
    height: 40px;
    width: 400px;
    margin-top: 2px;
}

.titulo-titulo {
    color: #333;
    font-size: 20px; 
    font-weight: none;
    margin-right: 345px; 
    margin-bottom: -18px;
}

#titulo{
    border-radius: 5px;
    background-color: rgba(253, 220, 226);
    border: none;
    outline: none;
    height: 40px;
    width: 400px;
    margin-top: 2px;
}

.titulo-historia{
    color: #333;
    font-size: 20px;
    font-weight: none;
    margin-right: 200px;
    margin-right: 10px;
}

#historia{
    background-color: rgba(253, 220, 226);
    /* border: solid red; */
    height: 200px;
    width: 400px;
    max-height: 200px;
    max-width: 400px;
    border-radius: 5px;
    border: none;
    resize: none;
    outline: none;
    resize: horizontal, vertical;
    
}
    

#contador{
    color: #333;
    margin-left: 270px;
    font-size: 16px;
}

#cadastrar{
    background-color: rgb(252, 149, 164);
    color: #333;
    border-radius: 5px;
    height: 40px;
    width: 180px;
    font-size: 20px;
    font-weight: none;
    border: none;
    outline: none;
}

.mensagem-container {
    border-radius: 5px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(255, 182, 193);
    color: rgb#333;
    text-align: center;
    padding: 15px;
    z-index: 1000;
}




